.modale {
    transition: opacity 0.25s ease;
  }

  body.modal-activee {
    overflow-x: hidden;
    overflow-y: visible !important; 
  }
  
  .modal {
    transition: opacity 0.25s ease;
  }

  body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important; 
  }